<form [formGroup]="mBoughtForm">
<div class=" ms-3  align-items-center mt-3" style="height: 12vh;">
    <h1>bought</h1>

    <div class="mb-3 col-2">
      <label for="" class="form-label">select material</label>
    <select class="form-select" formControlName="material_Id">
       
        <option *ngFor="let item of materials" [value]="item.id">{{item.name}}</option>
      </select>
      <span *ngIf="mBoughtForm.controls['material_Id'].touched && mBoughtForm.hasError('required','material_Id')">please select material </span>
    </div>
    <div class="mb-3 col-2">
      <label class="form-label">Unit Price</label>
      <input type="text"  class="form-control" formControlName="txtUnitPrice" >
      <span *ngIf="mBoughtForm.controls['txtUnitPrice'].touched && mBoughtForm.hasError('required','txtUnitPrice')">please fill unit price </span>

    </div>
    <div class="mb-3 col-2">
        <label class="form-label">Quantity</label>
        <input type="text"  class="form-control" formControlName="txtQuantity">
      <span *ngIf="mBoughtForm.controls['txtQuantity'].touched && mBoughtForm.hasError('required','txtQuantity')">please fill quantity </span>

      </div>
      
      <div class="mb-3 col-2">
        <label class="form-label">Date SOLD</label>
        <input type="date"  class="form-control" formControlName="txtDateBought" >
      <span *ngIf="mBoughtForm.controls['txtDateBought'].touched && mBoughtForm.hasError('required','txtDateBought')">please fill Date </span>
        
      </div>
      <div class="mb-3 col-2">
        <label class="form-label">Total price</label>
        <input type="text" id="totalPrice" class="form-control"  formControlName="txtTotalPrice" />
      </div>
      <div>
        <input type="button" value="Save" class="btn btn-primary" (click)="onSave()">
      </div>
    </div>
  </form>