<h1>bought list</h1>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <th>Material</th>
        <th>unit price</th>
        <th>quantity</th>
        <th>total price</th>
        <th>date bought</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td>
                <input type="button" value="Update" class="btn btn-primary" >
                <input type="button" value="Delete" class="btn btn-danger ms-3 " >
            </td>
        </tr>
    </tbody>
</table>
